{% extends 'base.html.twig' %}

{% block title %}Tags index{% endblock %}

{% block body %}
    <h1>Page traitement des erreurs</h1>


    <a href="{{ path('/') }}">Retour page d'accueil</a>
{% endblock %}
