<header class="bg-dark">
    <div class="d-flex justify-content-around">
        <div class="ms-n5" >
            <img class="img-fluid " style="width: 150px" src="{{ asset('images/logo.jpg') }}" alt="Symfony!"/>
        </div>
        <div class="text-center">
            <h1 class="text-white my-4">Voyage Voyage</h1>
            <p class="lead fw-normal text-white-50 mb-0 mt-5">With this shop homepage template</p>
        </div>
    </div>
</header>