<form method="post" action="{{ path('travel_delete', {'id': travel.id}) }}" onsubmit="return confirm('Etes vous sûr de voulair supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ travel.id) }}">
    <button class="btn">Supprimer</button>
</form>
