{% extends 'base.html.twig' %}

{#{% block title %}AJOUT VOYAGE{% endblock %}#}

{% block body %}
    <h1  class="text-center" style="width: 500px">AJOUT VOYAGE</h1>

    {{ include('travel/_form.html.twig') }}

    <a class="btn btn-outline-dark mt-auto" href="{{ path('travel_index') }}">Retour à la liste</a>

{% endblock %}
